---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPreview from '../../components/BlogPreview.astro';

import { getCollection } from "astro:content";

const allBlogPosts = await getCollection('blog');
const sortedPosts = allBlogPosts.sort((a, b) => Date.parse(b.data.publishDate) - Date.parse(a.data.publishDate))

const uniqueTags = [...new Set(allBlogPosts.map((post) => post.data.tags).flat())];

// Local page metadata
const title = "Blog | Jason Garvin";
const description = "Visit my blog, covering topics such as productivity, business, web development, and design. Expect a focus on UX and experience-driven design.";
const canonicalUrl = "https://jasongarvin.com/blog";
---

<BaseLayout
  description={description}
  title={title}
  canonicalUrl={canonicalUrl}>

  <main id="main-content">

    <section class="top-of-page hero-content centered transparent-bg">
      <h1 class="cta-header">My Blog</h1>
      <p class="subtitle">
        Discussing tech, business, and productivity
      </p>
    </section>

    <!-- Tag List -->
    <section class="vertical-space tag-container">
      <h3>Browse and filter by tag</h3>

      <div class="tags">
        {uniqueTags.map((tag) => (
          <span class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </span>
        ))}
     </div>
    </section>

    <!-- Post Previews -->
    <section class="preview-list">

      {
        sortedPosts.map((post: any) => (
          <BlogPreview
            title={post.data.title}
            fileName={`/blog/posts/${post.id}`}
            publishDate={post.data.publishDate} />
        ))
      }

      <!-- Placeholder for upcoming content -->
      <section class="blog-card inactive-card">
        <h2 class="title-preview">
          More coming soon
        </h2>
      </section>
    </section>
  </main>
</BaseLayout>

<style>
  .tag-container h3 {
    margin-top: 0;
  }

  .tags {
    margin: 0.5rem 0 0.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  .tag {
    margin: 0.25em 0;
    border: dotted 1px var(--brand-primary);
    border-radius: 25px;
    padding: .5em 1em;
    background-color: var(--background-shade);
  }
</style>
