---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPreview from '../../components/BlogPreview.astro';

import { getCollection } from "astro:content";

const allBlogPosts = await getCollection('blog');
const sortedPosts = allBlogPosts.sort((a, b) => Date.parse(b.data.publishDate) - Date.parse(a.data.publishDate))

// Local page metadata
const title = "Blog | Jason Garvin";
const description = "Visit my blog, covering topics such as productivity, business, web development, and design. Expect a focus on UX and experience-driven design.";
const canonicalUrl = "https://jasongarvin.com/blog";
---

<BaseLayout
  description={description}
  title={title}
  canonicalUrl={canonicalUrl}>

  <main id="main-content">

    <section class="top-of-page hero-content centered transparent-bg">
      <h1 class="cta-header">My Blog</h1>
      <p class="subtitle">
        Discussing tech, business, and productivity
      </p>
    </section>

    <!-- Post Previews -->
    <section class="preview-list vertical-space">

      {
        sortedPosts.map((post) => (
          <BlogPreview
            title={post.data.title}
            fileName={`/posts/${post.id}/`}
            publishDate={post.data.publishDate} />
        ))
      }

      <!-- Placeholder for upcoming content -->
      <section class="blog-card inactive-card">
        <h2 class="title-preview">
          More coming soon
        </h2>
      </section>
    </section>
  </main>
</BaseLayout>
