---
import "../../styles/Style.astro";
import "../../styles/Normalize.astro";

const title = "Jason Garvin - Business Card";
const description = "View Jason Garvin's online business card and find links to his socials as well as information about Total Escape Games, his tabletop game store.";
const canonicalUrl = "card.jasongarvin.com";

const socialLinks = [
  {
    name: "Email Me",
    href: "mailto::jsongarvin@gmail.com",
    icon: "fa-solid fa-envelope",
    class: "",
  },
  {
    name: "LinkedIn",
    href: "https://www.linkedin.com/in/jasonagarvin/",
    icon: "fa-brands fa-linkedin-in",
    class: "",
  },
  { name: "Total Escape Games", href: "", icon: "", class: "section-title" },
  {
    name: "Website",
    href: "https://totalescapegames.com/about/",
    icon: "fa-solid fa-globe",
    class: "",
  },
  {
    name: "Facebook",
    href: "https://totalescapegames.com/about/",
    icon: "fa-brands fa-facebook",
    class: "",
  },
    {
    name: "Instagram",
    href: "https://totalescapegames.com/about/",
    icon: "fa-brands fa-instagram",
    class: "",
  },
];
---

<!doctype html>

<html lang="en" manifest="manifest.appcache">

  <head>
    <title>{title}</title>
    <meta name="description" content={description} />

    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width", initial-scale="1" />
    <meta name="author" content="Jason Garvin" />

    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#3066be" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#696c9a" />

    <!-- Open Graph Protocol - Social Sharing -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:image" content="https://jasongarvin.com/assets/img/jason_garvin_opengraph.png" />
    <meta property="og:type" content="website" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:url" content={canonicalUrl} />
    <meta name="twitter:image:src" content="https://jasongarvin.com/assets/img/jason_garvin_opengraph.png" />
    <meta name="twitter:image:alt" content="The logo for Jason Garvin's website." />
    <meta name="twitter:creator" content="@jasonagarvin" />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalUrl} />

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/e3566c3fcf.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="return-link">
      <a href="/">
        <i class="fa fa-arrow-left"></i>
        <!-- TODO add tooltip that says "jasongarvin.com" -->
        <span>Back to website</span>
      </a>
    </div>

    <div class="wrapper">
      <input id="flip" type="checkbox" name="flip-card" />

      <label for="flip">
        <div class="card">
          <div class="front">
            <div class="front_bg">JG</div>

            <div class="strip"></div>
            <div class="left_side"></div>
            <div class="right_side"></div>
            <div class="name">
              <span>JASON</span>GARVIN
            </div>
            <div class="profession">
              Chief Operating Officer <br />
              Total Escape Games
            </div>
          </div>

          <div class="back link-container">
            <div class="left_back"></div>

            {
              socialLinks.map((link) => (
                <div class="item">
                  {link.icon != "" && <i class={link.icon} />}
                  <a class={link.class} href={link.href}>
                    {link.name}
                  </a>
                </div>
              ))
            }
          </div>
        </div>
      </label>
    </div>
  </body>
</html>

<style>
  body {
    line-height: 1.618em;
    color: #444;
    background-color: #2c2c2c;
    background-image: repeating-radial-gradient(
      circle,
      #3a3a3a,
      #3a3a3a 45%,
      transparent 45%,
      transparent 60%,
      #3a3a3a 60%,
      #3a3a3a 100%
    );
    background-size: 10px 10px;
    font-family: "PT Serif",
                 serif;
  }

  a {
    text-decoration: none;
  }

  i {
    margin-right: 0.5rem;
    width: 1.5rem;
  }

  div.item {
    text-transform: capitalize;
  }

  .return-link {
    position: absolute;
    top: 16px;
    left: 32px;
    font-family: "Quicksand",
                "Open Sans",
                Helvetica,
                Arial,
                sans-serif;
  }

  .fa-brands,
  .fa-solid {
    color: var(--background-shade, #fcfcfe);
  }

  .return-link a {
    color: var(--background-shade, #fcfcfe);
  }

  .return-link a:hover {
    color: var(--background-shade, #fcfcfe);
  }

  .link-container {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
  }

  .section-title {
    text-transform: uppercase;
    border-bottom: 2px solid var(--brand-highlight, #3066be);
  }

  .wrapper {
    max-width: 50rem;
    width: 100%;
    margin: 5rem auto;
    text-align: center;
  }

  /* --- General Card Styles --- */

  #flip {
    display: none;
  }

  .card {
    padding: 0;
    display: block;
    width: 32rem;
    height: 20rem;
    margin: 0 auto;
    transform-style: preserve-3d;
  }

  /* --- Card Flip Logic --- */

  #flip:not(:checked) + label > .card {
    transform: rotateY(0deg);
    transition: transform 0.25s;
  }

  #flip:checked + label > .card {
    transform: rotateY(180deg);
    transition: transform 0.25s;
  }

  .front,
  .back {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow:
      rgba(0, 0, 0, 0.2) 0 0 3rem 0,
      rgba(0, 0, 0, 0.1) 0 0 1rem 0;
  }

  .front {
    transform: translateZ(2px);
    background: var(--brand-highlight, #3066be);
    border-radius: 2rem 0;
    color: #fcfcfe;
  }

  /* --- Flip Action Notice --- */

  .front:after {
    content: "CLICK TO FLIP";
    background: var(--brand-primary, #2d5077);
    white-space: nowrap;
    position: absolute;
    top: 6rem;
    bottom: 6rem;
    left: 5.5rem;
    right: 5.5rem;
    font-size: 2rem;
    font-weight: 800;
    line-height: 128px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.35s;
  }

  .front:hover:after {
    visibility: visible;
    opacity: 0.9;
    transition: opacity 0.35s;
  }

  /* --- Front Side Design --- */

  .front_bg {
    position: absolute;
    left: 6rem;
    top: -2.5rem;
    font-weight: 800;
    font-style: italic;
    font-size: 25rem;
    line-height: 20rem;
    letter-spacing: -0.09em;
    color: rgba(255, 255, 255, 0.6);
  }

  .name {
    position: absolute;
    top: 7rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
  }

  .name span {
    font-weight: 800;
  }

  .profession {
    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
  }

  .strip {
    position: absolute;
    top: 5rem;
    bottom: 5rem;
    left: 0;
    right: 0;
    background: rgba(48, 102, 190, 0.85);
  }

  .left_side,
  .right_side {
    position: absolute;
    top: 7rem;
    bottom: 7rem;
    width: 0.25rem;
    background: var(--brand-primary, #2d5077);
  }

  .left_side {
    left: 4.5rem;
  }

  .right_side {
    right: 4.5rem;
  }

  /* --- Back Side Design --- */

  .back {
    border-radius: 0 2rem;
    transform: translateZ(-2px) rotateY(180deg);
    background: var(--brand-highlight, #3066be);
    border: 1px solid var(--brand-primary, #2d5077);
  }

  .left_back {
    background: var(--brand-primary, #2d5077);
    position: absolute;
    top: 0;
    left: -1rem;
    bottom: 0;
    width: 9.5rem;
  }

  .item {
    position: relative;
    margin-left: 3.5rem;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.618em;
    z-index: 1;
  }

  .item:hover a {
    color: var(--background-shade, #fcfcfe);
    transition: color 0.35s;
  }

  .item a {
    color: var(--background, #fcfcfe);
    transition: color 0.35s;
  }

  .item:hover .fa {
    color: var(--background-shade, #fcfcfe);
    transition: color 0.35s;
  }

  .fa {
    width: 2em;
    text-align: center;
    margin-right: 2em;
    color: var(--background, #fcfcfe);
    transition: color 0.35s;
  }

  /* --- Selection Highlighter Logic --- */

  .item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    bottom: 0;
    background: var(--brand-primary, #2d5077);
    z-index: -1;
    transition: width 0.35s;
  }

  .item:hover::before {
    width: 30rem;
    transition: width 0.35s;
  }

  .item::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    right: 23.35rem;
    bottom: 0;
    background: var(--brand-primary, #2d5077);
    z-index: -1;
    transition: width 0.35s;
  }

  .item:hover::after {
    width: 9rem;
    transition: width 0.35s;
  }
</style>
