---
import BlogPost from "../../../layouts/BlogPost.astro";

const title = "Hard Truths About Owning Your Choices";
const description = "";
const canonicalUrl = "https://jasongarvin.com/blog/posts/i-blogged-for-a-year";
const contentCategory = "Productivity";
const publishDate = "2024-10-31";
const editDate = "";
const tableOfContents = [
  "The Grief Behind Making Mistakes",
  "The Consequences of Action",
  "A Story on Accountability",
];
---

<BlogPost
  description={description}
  title={title}
  canonicalUrl={canonicalUrl}
  contentCategory={contentCategory}
  publishDate={publishDate}
  editDate={editDate}
  tableOfContents={tableOfContents}
>
  <div>
    <section itemprop="abstract">
      <p>
        It’s Halloween today, so to honor the occasion I figured we’d explore
        something thematic: ghosts.
      </p>
      <p>No, not the spooky supernatural kind. The ghosts of our past.</p>
      <p>
        Everyone has them. If someone tries to tell you they don’t, that they’ve
        never so much as made a bad decision, they’re lying to you or to
        themselves.
      </p>
      <p>
        The ghosts of our past are those pesky decisions we wish we could fix
        but can’t. There’s no way to erase them, only to accept them.
      </p>
      <p>
        See, that’s the tricky thing about time. It only moves in one direction.
        There’s no going back. There’s only the present we live today and the
        future beyond it. It’s painful sometimes, and it’s easy to experience
        regret, but it’s also beautiful.
      </p>
      <p>
        Because our choices, their consequences, and what we learn from them are
        how we grow. They define who we are and who we become.
      </p>
    </section>

    <section id="subsection-1" itemprop="articleBody">
      <h2 class="blog-subtitle js-heading">The Grief Behind Making Mistakes</h2>

      <p>
        It’s tough to make mistakes. As a kid it’s something that breaks us
        down, and though we often learn to control our emotions around them, the
        consequences only get more serious as we age.
      </p>
      <p>
        The stakes are higher for me now as an adult. There are far fewer safety
        nets beneath me to help me bounce back from any consequences, earned or
        otherwise. A big mistake could affect my life, my job, and my mental
        health. I’m sure you, too, have felt that pressure to succeed.
      </p>
      <p>
        Especially when you own your business and you’re trying to get it to
        grow, each mistake can feel catastrophic. What if I order the wrong
        thing? What if I lose a contract with an important vendor, or can’t
        close sales? When you’re trying to take something you love from 0 to 1,
        it’s easy to get lost in the shuffle.
      </p>
      <p>
        That’s where the grief and regret of your choices creeps in. It’s easy
        to keep yourself up at night worrying you said the wrong thing 10 years
        ago and embarrassed yourself, and that you’ll repeat the same mistake
        again tomorrow.
      </p>
      <p>
        I’m happy to say, though, that no one choice will unravel either of our
        lives.
      </p>
      <p>
        Instead, mistakes are often an opportunity to grow, provided we can
        learn from them.
      </p>
      <p>
        You’re only going to improve if you accept your choices, don’t make
        excuses, and get busy trying to solve the consequences for the next
        time. It’s the more difficult path, but it’s the only way to truly own
        your life and keep moving.
      </p>
    </section>

    <section id="subsection-2" itemprop="articleBody">
      <h2 class="blog-subtitle js-heading">The Consequences of Action</h2>

      <p>
        It’s uncomfortable to face the consequences of your own actions,
        especially when they turn out poorly. When you do something and it leads
        to a good outcome, it’s easy. It feels great. You’re basking in a
        feeling of success.
      </p>
      <p>
        But when it’s bad, oh how fast that changes. It's far more comfortable
        to ignore the fallout and make excuses. It’s comfortable, safe, and
        helps you feel like it wasn’t your fault.
      </p>
      <p>
        But that's a big problem for learning, and it’s not fair to the people
        around you.
      </p>
      <p>When you’re trying to grow, you must:</p>

      <ul>
        <li>Accept when you did the wrong thing</li>
        <li>Learn how you could have done that thing differently</li>
        <li>Implement that new way the next time</li>
      </ul>

      <p>
        Sometimes it takes a few tries. Sometimes it’s wrong the first time, and
        the second time, and even the third time. Sometimes it takes months. If
        you keep it up, though, you’ll eventually discover the right choice.
      </p>
      <p>On the other hand, it’s easy to stagnate when you:</p>

      <ul>
        <li>Ignore your choices and move forward without stopping to think</li>
        <li>
          Blame the people around you for things going wrong instead of taking
          accountability
        </li>
        <li>Repeat the same choice over and over hoping it’ll go better</li>
      </ul>

      <p>Let’s not follow that second list. At least, not all the time.</p>
      <p>
        Because I mean, listen. Nobody’s perfect. That’s kind of the whole
        point. Sometimes you’re going to ignore a mistake, or repeat it, or even
        misunderstand the whole situation. That’s okay. But it is worth trying
        to minimize how often that happens.
      </p>
      <p>
        When you develop a growth mindset like that, it’s amazing what you can
        accomplish.
      </p>
      <p>
        Plus, you won’t be so negative to be around for everyone else. Nobody
        likes being blamed for decisions they didn’t make, and weren't a part
        of.
      </p>
    </section>

    <section id="subsection-3" itemprop="articleBody">
      <h2 class="blog-subtitle js-heading">A Story on Accountability</h2>

      <p>
        Accepting the grief that comes along with past decisions&mdash;being
        able to own them and move forward&mdash;requires a certain kind of grit.
      </p>
      <p>
        I’ve made plenty of big mistakes this year. Some of them are over and
        done with and I’ve moved on, but some of them still affect my life. In a
        lot of cases, they helped me learn and improve. Business ownership, I’ve
        discovered, is fraught with tiny mistakes of judgment and the stress to
        perform. It’s something I’ve been adjusting to this year.
      </p>
      <p>At the beginning of the year, I wasn’t so used to it.</p>
      <p>
        I made decisions that strained the relationship between me and one of
        our best employees. I’d known them, and everyone else on staff, for
        years, and in a lot of ways we were as much a big group of friends as we
        were coworkers.
      </p>
      <p>
        Because of that, I made bad choices, ones that don’t line up with my own
        beliefs about what it means to be a business owner these days. I’m not
        going to get into exactly what happened&mdash;it doesn’t ultimately
        matter, and I’d rather respect everyone’s privacy.
      </p>
      <p>
        The moral is, I was looking at the situation from the perspective of us
        being a couple of people who know each other. I wasn’t thinking about
        the power dynamic, or the forced proximity of working together. I wasn’t
        thinking like a business owner.
      </p>
      <p>
        I made selfish decisions because I figured we could work it out, but I
        vastly underestimated how that feels coming from the business owner
        rather than just a peer. And in the process I ruined a friendship.
      </p>
      <p>
        It’s been affecting me for months. Probably them, too. Of course in
        hindsight I’d go back and do things differently. I’d be more considerate
        of their situation. I'd go more out of my way to keep the problem from
        happening in the first place.
      </p>
      <p>
        But that's the beauty of hindsight. It's far easier to see what I could
        have done differently now after months of thinking it over than when I
        was in the heat of the moment. I can't fix it, but I can make sure I act
        differently the next time.
      </p>
      <p>That's what owning your choices is all about.</p>
      <p>
        Thankfully, it hasn’t affected the store. They're still with us and
        continue to be an amazing employee, well-liked by everyone on the team
        and our customers alike. They works hard, and I respect them for that.
      </p>
      <p>
        But they and I will probably never be friends. We probably won’t really
        get along, even, and will have to navigate that as we work together.
      </p>
      <p>That’s my fault.</p>
      <p>
        So, when faced with this situation, I really only saw three options:
      </p>

      <ul>
        <li>
          Avoid the problem entirely by firing them, which proves me as a
          terrible leader, undermines the trust of our team, and makes their
          life worse
        </li>
        <li>
          Convince myself it’s their fault things turned out this way so I can
          rest easier, and make the minimum effort to coexist at work
        </li>
        <li>
          Accept that the situation is my fault and use it to better calibrate
          my future decision-making, leaving them to thrive in our workplace and
          accepting the burden on myself of making amends and keeping the peace
        </li>
      </ul>

      <p>
        I don’t know about you, but to me, only the last one comes even remotely
        close to being an ethical choice. It's harder than the others, and
        that's how it should be. Doing the right thing often is.
      </p>
      <p>
        In all the scenarios I imagined, doing anything but confronting the
        problem I’d caused and taking ownership was going to make things worse.
      </p>
      <p>
        Workplaces are tricky things, and the last thing I wanted was to affect
        the team’s morale. Especially when they're genuinely a great employee,
        and doing anything to mistreat or remove them would be completely
        unreasonable from a business and ethical perspective.
      </p>
      <p>So if you get anything out of this post, it’s this:</p>
      <p>
        <em>
          You can’t control what happens after you make a choice. You can’t
          control other people. What you can control, and have an obligation to
          face, is how you react to that outcome.
        </em>
      </p>
      <p>
        Don’t take the easy way out. Take accountability. Accept fault when it’s
        deserved. Accept credit, too, when it’s appropriate.
      </p>
      <p>
        Our world would be better if everyone took a little more accountability
        for our actions, and the only way we get there is by starting with
        ourselves.
      </p>
      <p>
        There will be more on that idea to come, but for now, let's all do our
        best to be responsible, ethical leaders and face the ghosts of our past
        no matter how uncomfortable they may make us.
      </p>
      <p>Oh, and Happy Halloween!</p>
    </section>
  </div>
</BlogPost>
