---
import BlogPost from "../../../layouts/BlogPost.astro";

const title = "Overcoming Uncertainty - A Response to Tariffs";
const description = "";
const canonicalUrl =
  "https://jasongarvin.com/blog/posts/overcoming-uncertainty-a-response-to-tariffs";
const contentCategory = "Business";
const publishDate = "2025-04-24";
const editDate = "";
const tableOfContents = [
  "Make Good (and Careful) Decisions",
  "Be a Leader and Lead Well",
  "Uncertainty is Exhausting",
];
---

<BlogPost
  description={description}
  title={title}
  canonicalUrl={canonicalUrl}
  contentCategory={contentCategory}
  publishDate={publishDate}
  editDate={editDate}
  tableOfContents={tableOfContents}
>
  <div>
    <section itemprop="abstract">
      <p>
        A day hasn’t gone by without someone talking to me about tariffs. My
        industry is panicking. My friends are anxious. Every meeting I attend,
        every conversation I have, includes this nasty little six-letter word
        that I’m only ever half-sure I’m spelling right.
      </p>
      <p>
        As a business owner, I don’t have the luxury of ignoring it or waiting
        to see how it all shakes out. I have to act proactively to protect our
        store, protect our livelihood, and try my damndest to predict the
        future. Our prosperity depends on it.
      </p>
      <p>It’s an impossible feat, but I’m trying nonetheless.</p>
      <p>
        So, let’s talk about uncertainty in business and how we can best
        navigate the times when the future is opaque and information is lacking.
      </p>
    </section>

    <section id="subsection-0" itemprop="articleBody">
      <h2 class="blog-subtitle js-heading">
        Make Good (and Careful) Decisions
      </h2>

      <p>
        Yes, this is a boring section name. Yes, this is really what it comes
        down to in the end.
      </p>
      <p>
        The tricky thing about making good decisions is that, normally, you want
        a good foundation of information to inform your choice. The more the
        better. In a world where everything is predictable and all quantities
        are revealed, you can make the best decisions because you have access
        to, in theory,
        <em>all of the known information.</em>
      </p>
      <p>This slowly unravels the less context and data you have.</p>
      <p>
        In the case of tariffs, we don’t know how long they’re going to last. We
        don’t know which countries will continue to suffer them, and which will
        impose retaliatory ones on us. We don’t know the long-term implications
        of this economic shakeup, and who’s going to survive them.
      </p>
      <p>
        Again, we don’t even know if companies will actually go out of business
        because we don’t know how long this will last.
      </p>
      <p>
        What we do know is the current numbers, what the president has said, and
        how the rest of the world is reacting for now.
      </p>
      <p>
        As I’m writing this, China has tariffs of 145%. It might be different by
        the time you’re reading this. Last week there were high tariffs on
        everyone, now they’re mostly down to 10%. Last week, smart phones were
        exempted. This week, there’s talk of them being affected again.
      </p>
      <p>In a landscape like that, the future is in constant flux.</p>
      <p>
        So, what do we do, then? Well, we do our best. We make decisions based
        on the information we do have: internal performance data and trends,
        industry reactions, the stock market, local and international news.
      </p>
      <p>
        When the external world is experiencing upheaval, all we can rely upon
        is what we’ve built and surrounded ourselves with.
      </p>
      <p>For the store, this means a couple of things:</p>

      <ul>
        <li>
          Stocking up on products at the current cost so we have plenty to sell
          for the next 2-4 months, especially if they’re made in China.
        </li>
        <li>
          Meeting with everyone on the team to explain our strategy moving
          forward, arming everyone with as much knowledge as possible.
        </li>
        <li>
          Speaking with distributors, publishers, and anywhere else we source
          goods to understand what they anticipate happening and the
          preparations they’re making.
        </li>
        <li>
          Canceling or delaying plans that involve increased cost (new software
          tools, rewards programs, and most non-essential spending).
        </li>
      </ul>

      <p>
        I want to make one exception very clear about the above list, however:
        we are not cutting staff, wages, hours, or outreach efforts within our
        community. In fact, we just announced a new discount teachers can use to
        bring games into their classrooms and after-school clubs.
      </p>
      <p>
        This is an important factor:
        <em
          >be careful making changes that lead to semi-permanent or worse
          outcomes.</em
        >
        If I fire an employee, I’m not getting them back. If I cut wages, I risk
        losing people I value tremendously. If I stop supporting the businesses,
        schools, and people around us, I’m souring relationships right as we need
        each other the most.
      </p>
      <p>
        It’s important to anticipate consequences, not just gains, when making
        decisions. Especially when you’re flying blind and you don’t know how
        long you’ll have to fly in circles while you wait for the tower to give
        you the clear to land.
      </p>
    </section>

    <section id="subsection-1" itemprop="articleBody">
      <h2 class="blog-subtitle js-heading">Be a Leader and Lead Well</h2>

      <p>
        In times of uncertainty, your leadership skills are at their most
        important. Anyone can be a good leader when times are easy, money is
        plentiful, and everything is soaring. It’s much more difficult to be a
        good leader through difficult times.
      </p>
      <p>
        The people working for and with you aren’t dumb. They know some of
        what’s going on, and they may even be well-informed. Hell, they may know
        the current situation better than you, and that's a good thing.
      </p>
      <p>
        Treat them like the intelligent people they are. Arm them with as much
        information as you can so they understand the situation. Hiding
        information only makes people scared and erratic. Don’t starve your team
        right as they need your support.
      </p>
      <p>It’s uncomfortable, but it’s downright essential.</p>
      <p>
        We’re hosting our first-ever mandatory all-hands meeting so we can walk
        the team through our plans for the remainder of the year and how we plan
        to react depending on what happens.
      </p>
      <p>
        Most importantly, though, we’re going to open the floor up to our
        employees to ask questions. Any questions. They don’t even have to be
        about the store. Instead, we want to act as a stabilizing force to the
        people around us who dedicate themselves to the hard work we depend on
        to keep the store growing.
      </p>
    </section>

    <section id="subsection-2" itemprop="articleBody">
      <h2 class="blog-subtitle js-heading">Uncertainty is Exhausting</h2>

      <p>I’m already tired, and we're only getting started. How about you?</p>
      <p>
        Let’s talk (briefly) about mental health before I let you go, because
        everything is harder in times of uncertainty. Everything.
      </p>
      <p>
        Take care of yourself. Get good sleep, and look after your body. See
        friends. Talk with peers and professionals you respect. Go out in public
        and spend time around people. Take a nap. Whatever it is you use to
        decompress and relax, put it to work.
      </p>
      <p>
        If you burn out, it all comes crashing down. Taking care of yourself is
        so, so important. If you get fatigued, you’re going to become more
        emotional and more reactionary. It’ll take a toll on your decision
        making, and may feed into a vicious cycle.
      </p>
      <p>
        So, don’t do that. Be kind to yourself, give yourself grace, and
        acknowledge that there is no such thing as a perfect decision right now.
        Some of us will make money, some of us will lose money. Some of us may
        even close, though I hope with all my heart it doesn’t come to that.
      </p>
      <p>And, be kind to each other out there.</p>
      <p>Take care. We’ll get through this.</p>
    </section>
  </div>
</BlogPost>
