---
import BlogPost from "../../../layouts/BlogPost.astro";

const title = "Writing When You Have Something to Say";
const description = "";
const canonicalUrl =
  "https://jasongarvin.com/blog/posts/writing-when-you-have-something-to-say";
const contentCategory = "Business";
const publishDate = "2025-01-31";
const editDate = "";
const tableOfContents = [""];
---

<BlogPost
  description={description}
  title={title}
  canonicalUrl={canonicalUrl}
  contentCategory={contentCategory}
  publishDate={publishDate}
  editDate={editDate}
  tableOfContents={tableOfContents}
>
  <div>
    <section itemprop="abstract">
      <p>
        Last year I blogged every single month. It was a satisfying
        accomplishment, and I’m proud of myself for getting it done. I’ve proved
        to myself and everyone else I can keep up with a monthly release
        schedule!
      </p>
      <p>
        That said, I don’t think it’s the right approach. At least, not for me,
        and not right now.
      </p>
      <p>
        In my
        <a href="/blog/posts/2024-in-review">review of a year of blogging last year</a
        >, I talked about wanting to write more thoughtful, interesting pieces
        that dig deep into the topics that excite me. What I’ve realized is
        because of my current work schedule and diverging interests, it’s no
        longer reasonable to expect that kind of quality in a monthly cadence.
      </p>
      <p>
        If I’m being really honest with myself, I don’t think writing monthly
        has ever let me squeeze the kind of quality I know I’m capable of into
        some of my existing posts.
      </p>
      <p>
        When I have to commit a new post each month, I often end up picking a
        comfortable topic because it’s something I can write about easily.
        There’s much less time spent exploring and synthesizing ideas, and much
        more time spent organizing my thoughts and committing existing knowledge
        and ideas to the page.
      </p>
      <p>
        Which, although that’s not a bad approach, it also isn’t what I want.
      </p>
      <p>
        Instead, my current approach is often antithetical to quality and
        interesting writing, in my opinion. So instead of focusing on a regular
        schedule and quantity, I’m shifting to an irregular schedule and
        quality.
      </p>
      <p>
        I won’t be publishing every month. Instead, I’ll be publishing when I
        feel like I have something to say. That way, whenever I share a post,
        it’s guaranteed to be something I really care about, something I can’t
        help but to write because I feel so strongly it needs to be said.
      </p>
      <p>
        The work I’ve done so far is good and I’m happy to have done it, but as
        with all things, my process needs to evolve this year. I need to evolve
        this year.
      </p>
      <p>
        So, I’m trying something new. Maybe I’ll return to posting
        monthly&mdash;who knows. For now though, I think it’s important to focus
        on putting together quality articles and contributing meaningfully to
        the content on the internet instead of becoming yet another place
        producing fluff.
      </p>
      <p>That’s my commitment to myself and to you.</p>
      <p>
        So, I’ll be back with something as soon as I have it ready. That could
        be in 2 weeks or 2 months. Regardless, I appreciate you being here, and
        thanks for reading!
      </p>
    </section>
  </div>
</BlogPost>
